{% extends "layout.html" %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<h1 class="my-4">{% translate 'Statuses' %}</h1>
{% bootstrap_button button_type="link" href='/statuses/create' content="Create status" %}
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>{% translate 'Name' %}</th>
        <th>{% translate 'Created' %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for status in statuses %}
        <tr>
            <td>{{ status.id }}</td>
            <td>{{ status.name }}</td>
            <td>{{ status.created_at}}</td>
            <td>
            <a href="{% url 'status_update' pk=status.id %}">Изменить</a>
            <br>
            <a href="{% url 'status_delete' pk=status.id %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}