{% extends "layout.html" %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<h1 class="my-4">{% translate 'Users' %}</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>{% translate 'Nickname' %}</th>
        <th>{% translate 'Full Name' %}</th>
        <th>{% translate 'Created' %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.date_joined}}</td>
            <td>
            <a href="/users/1/update/">Изменить</a>
            <br>
            <a href="/users/1/delete/">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}