{% extends "layouts/base.html" %}

{% load django_bootstrap5  i18n %}


{% block content %}
<div class="card">
    <div class="card-header bg-secondary text-white">
      <h2>{{ object.name }}</h2>
    </div>
    <div class="card-body bg-light">
      <p>{{ object.description }}</p>
      <hr>
      <div class="container">
        <div class="row p-1">
          <div class="col">{% translate 'Author' %}</div>
          <div class="col">{{ object.author }}</div>
        </div>
        <div class="row p-1">
          <div class="col">{% translate 'Executor' %}</div>
          <div class="col">{{ object.executor.first_name}} {{object.executor.last_name }}</div>
        </div>
        <div class="row p-1">
          <div class="col">{% translate 'Status' %}</div>
          <div class="col">{{ object.status }}</div>
        </div>
        <div class="row p-1">
          <div class="col">{% translate 'Created at' %}</div>
          <div class="col">{{ object.created_at }}</div>
        </div>
        <div class="row p-1">
          <div class="col">
            <h6>{% translate 'Labels:' %}</h6>
            <ul>
              {% for label in object.labels.all %}
                <li>{{ label.name }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="row p-1">
          <div class="col">
            <a href="{% url 'task_update' pk=object.id %}">{% translate 'Change' %}</a>
            <br>
            <a href="{% url 'task_delete' pk=object.id %}">{% translate 'Delete' %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}