{% extends "layout.html" %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<h1 class="my-4">{% translate 'Tasks' %}</h1>
{% bootstrap_button button_type="link" href='/tasks/create' content="Create task" %}
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>{% translate 'Name' %}</th>
        <th>{% translate 'Status' %}</th>
        <th>{% translate 'Author' %}</th>
        <th>{% translate 'Executor' %}</th>
        <th>{% translate 'Created_at' %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td><a href="{% url 'task_show' %}">{{ task.name }}</a></td>
            <td>{{ task.status }}</td>
            <td>{{ task.author }}</td>
            <td>{{ task.executor }}</td>
            <td>{{ task.created_at}}</td>
            <td>
            <a href="{% url 'task_update' pk=task.id %}">Изменить</a>
            <br>
            <a href="{% url 'task_delete' pk=task.id %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}